.container-login-form{
    /* padding: 3rem; */
    /* background-image: url('https://images.unsplash.com/photo-1497993950456-cdb57afd1cf1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80'); */
    /* background-image: url('https://images.unsplash.com/photo-1520315342629-6ea920342047?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80'); */
    /* background-image: url('../../assets/pet2.png');
    background-repeat: no-repeat;
    background-size: cover; */
   background-color: #7cd0d8;
    
}

.ctn-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 105px );
}

.login-title{
    font-size: 1.5rem;
    color: white;
}

.icon-direction{
    display: flex;
    justify-content: flex-end;
    background-color: #E9FAFC;
    width: 100%;
}

.arrow{
    font-size: 1.5rem;
    color: #1BA0AB;
    cursor: pointer;
    margin-right: 0.5rem;
    margin-bottom: 0.8rem;
}

.form-login{
    /* background-color: rgb(230, 247, 252);  */
    width: 28%;
    height: 400px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(255, 248, 248);
   
}

.form-input{
   height: 12%;
   width: 90%;
   display: flex;
   justify-content: center;
}

.email-input, .password-input{
    border: none;
    width: 85%;
    padding: 0.8rem;
    border-radius: 6px;
}

.eye-icon{
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1rem;
    top: 16%;
    z-index: 5;
    cursor: pointer;
}

.login-button{
    padding: 0.6rem;
    background-color: #1BA0AB;
    color: white;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.reset-sign{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.reset {
    font-size: 0.8rem;
    cursor: pointer;
}

.sign-in a{
    font-size: 0.8rem;
    cursor: pointer;
    color:#1BA0AB;
    font-weight: 700;
    text-decoration: none;
}



@media screen and (max-width: 768px){
    /* .container-login-form{
        padding: 1.2rem;
    } */

    .form-login{
        width: 50%;
    }
}



@media screen and (max-width: 420px){
    /* .container-login-form{
        padding: 0.6rem;
    } */

    .form-login{
        width: 90%;
    }
}

