.ctn-modal{
    display: flex;
    overflow: hidden;
    justify-content: space-evenly;
    width: 80%;
}

.ctn-comments{
    background-color: #F8FEFF;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
}

.comment-title{
    font-size: 1.1rem;
}

.comments-description{
    width: 25%;
    font-size: 0.9rem;
}


/* --- card ---- */ 

.comments-card-section{
    background-color: white;
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-comment{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 45%;
    border-radius: 35px 0px 35px 0px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.link-next-comment{
    cursor: pointer;
    font-size: 2rem;
    color: #1BA0AB;
    background-color: rgb(181, 235, 230);
    border-radius: 50px;
    padding: 0 10px;
}

.link-next-comment:active{
    opacity: 0.6;
}

.score{
    display: flex;
    align-items: center;
    color: rgb(241, 222, 50);
}

.score-number{
    align-items: center;
    margin-left: 0.5rem;
    font-size: 0.9rem;
}


@media screen and (max-width: 768px){
    .ctn-comments{
        flex-direction: column;
        align-items: center;
       height: 250px;
    }

    .comments-title{
        text-align: center;
    }

    .comments-description{
        width: 90%;
        text-align: center;
        font-size: 1rem;
    }

    .card-comment{
        width: 100%;
    }

    .comments-card-section{
        flex-direction: column;
        padding: 2rem;
        height: 370px;
        justify-content: space-evenly;
    }
}


@media screen and (max-width: 435px){
    .ctn-comments{
        padding: 1.5rem;
        height: 220px;
    }

    .comments-description {
        font-size: 0.9rem;
    }

    .comments-card-section{
        padding: 1.5rem;
        height: 400px;
        justify-content: space-evenly;
    }

    .comment-title{
        font-size: 1.1rem;
    }

    .comment-text{
        font-size: 0.9rem;
    }

    .comment-user{
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 350px){
    .comments-card-section{
        height: 450px;
    }
}

